<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}" [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
    [sidebarToggler]="'lg'">
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#/parcare-reporting">Raportare</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Settings</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
    </ul>
</app-header>
<div class="app-body">
    <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <main class="main">

        <!-- list container -->
        <div class="container-fluid" *ngIf="showList">

            <div class="top-container">
                <h4>Prețuri de depozitare</h4>
                <button type="button" class="btn btn-primary" (click)="showList = !showList">Adaugă</button>
            </div>

            <!-- loader -->
            <div *ngIf="isLoading" style="display: flex;
            flex-direction: column;
            margin: 50px 0;
            align-items: center;
            justify-content: center;
            background: #ff814c;
            border-radius: 10px;
            padding: 10px;
            color: #fff;">
                <h5>Se încarcă...</h5>
                <img alt="loader" src="../../../../assets/img/send2.gif" style="width: 200px;" />
            </div>

            <!-- if no data -->
            <div *ngIf="!isLoading && tableData.length === 0" class="data-container">
                <img alt="nodata" src="../../../../assets/img/not-found.png" style="width: 100px; margin: 20px;" />
                <h5>Nu sunt date în BD</h5>
                <button type="button" class="btn btn-primary" (click)="showList = !showList">Adaugă o entitate nouă</button>
            </div>

            <!-- if no data -->
            <div *ngIf="!isLoading && tableData.length > 0" class="data-container">
                <div class="card-body" style="width: 100%;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tip</th>
                                <th>Preț 30 min</th>
                                <th>Preț 1 oră</th>
                                <th>Preț 1 zi</th>
                                <th style="text-align: right;">Șterge</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let entity of tableData">
                                <td>{{entity.ID}}</td>
                                <td>{{getTransportNameByID(entity.transport_type_id)}}</td>
                                <td>{{entity.period_1}} Lei</td>
                                <td>{{entity.period_2}} Lei</td>
                                <td>{{entity.period_3}} Lei</td>
                                <td style="text-align: right;">
                                    <button type="submit" class="btn btn-md btn-danger" (click)="deleteEntity(entity)">X</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- error message -->
                <div class="row" *ngIf="errorMessage" style="margin-bottom: 10px;">
                    <div class="col-12" style="color: #f86c6b;">
                        {{errorMessage}}
                    </div>
                </div>

            </div>

        </div>
        <!-- end list container -->

        <!-- input container -->
        <div class="container-fluid" *ngIf="!showList">

            <div class="top-container">
                <h4>Adaugă o entitate nouă</h4>
                <button type="button" class="btn btn-primary" (click)="showList = !showList">Înapoi</button>
            </div>

            <!-- input container -->
            <div class="data-container">
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        <strong>Entitate nouă</strong>
                    </div>

                    <div class="card-body">
                        <form action="" method="post">

                            <div class="form-group row" *ngIf="transportTypes.length > 0">
                                <label class="col-md-3 col-form-label" for="select1">Tipul transportului</label>
                                <div class="col-md-9">
                                    <select id="select1" name="select1" class="form-control" [value]="transportTypeID" (change)='transportTypeID=$event.target.value'>
                          <option value="null">Selectați tipul unității de transport</option>
                          <option *ngFor="let entity of transportTypes" value="{{entity.ID}}">{{entity.type}}</option>
                        </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tip">Preț de depozitare 30 min (Lei)</label>
                                <input type="number" placeholder="7 lei ..." [value]="price1" (keyup)='price1=$event.target.value' class="form-control" id="tip" name="tip" autocomplete="tip">
                                <span class="help-block" style="font-style: italic; font-size: 12px;">Introduceți costul serviciului pentru 30 de minute</span>
                            </div>

                            <div class="form-group">
                                <label for="tip2">Preț de depozitare 1 oră (Lei)</label>
                                <input type="number" placeholder="10 lei ..." [value]="price2" (keyup)='price2=$event.target.value' class="form-control" id="tip2" name="tip2" autocomplete="tip2">
                                <span class="help-block" style="font-style: italic; font-size: 12px;">Introduceți costul serviciului pentru 1 oră</span>
                            </div>

                            <div class="form-group">
                                <label for="tip3">Preț de depozitare 1 zi (Lei)</label>
                                <input type="number" placeholder="100 lei ..." [value]="price3" (keyup)='price3=$event.target.value' class="form-control" id="tip3" name="tip3" autocomplete="tip3">
                                <span class="help-block" style="font-style: italic; font-size: 12px;">Introduceți costul serviciului pentru 1 zi</span>
                            </div>



                        </form>
                    </div>

                    <div class="card-footer" style="display: flex; justify-content: space-between; width: 100%;">
                        <button type="reset" class="btn btn-md btn-danger" (click)="onReset()"><i class="fa fa-ban"></i>  Reset</button>
                        <button type="submit" class="btn btn-md btn-success" [disabled]="!transportTypeID || !price1 || !price2 || !price3" (click)="addEntity()"><i class="fa fa-dot-circle-o"></i>  Salvează</button>
                    </div>

                </div>

                <!-- error message -->
                <div class="row" *ngIf="errorMessage" style="margin-bottom: 10px;">
                    <div class="col-12" style="color: #f86c6b;">
                        {{errorMessage}}
                    </div>
                </div>

            </div>


        </div>
        <!-- end input container -->

    </main>

    <!-- modal -->
    <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmați ștergerea entității</h4>
                    <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>Sunteți sigur că vreți să ștergeți entitatea dată?</p>
                    <strong *ngIf="toDeleteEntity">{{toDeleteEntity.type}}</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Anulează</button>
                    <button type="button" class="btn btn-danger" (click)="deleteConfirmed()">Șterge</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>

<!-- loader -->
<div *ngIf="activateLoader" style="z-index: 1111;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      opacity: 70%;">
    <img alt="nodata" src="../../../../assets/img/spinner.gif" style="width: 200px; margin: 20px;" />
</div>